// Brand colors
$brand-gray-1: #FBFBFB;
$brand-gray-2: #F2F2F2;
$brand-gray-3: #D8D8D8;
$brand-background-gray: #FAFAFA;
$brand-gray-text: #696969;


// Utility classes
.w100 {
  width: 100%;
}

.text-center {
  text-align: center
}

.capitalize {
  text-transform: capitalize
}

.min-flex {
  flex: 0 0 auto !important;
}

.text-brand-gray {
  color: $brand-gray-text
}

.background-brang-gray {
  background-color: $brand-gray-text
}

.clickable {
  cursor: pointer;
}

.small-avatar {
  height: 28px !important;
  width: 28px !important;
}

.small-icon {
  font-size: 16px;
}

.medium-icon {
  font-size: 20px;
}

.bottom-float {
  bottom: 5rem !important;
}

.very-small-btn {
  height: 30px;
  width: 30px;
}

// Mixins
@mixin ellipsis($max-height, $lines: 2) {
  // Fallback for non-webkit browsers.
  // Fallback does not render ellipsis.
  overflow: hidden;
  max-height: $max-height;
	
  // Webkit solution for multiline ellipsis
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;  
  
  // Solution for Opera
  text-overflow: -o-ellipsis-lastline;
}